<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257484577170-pa0kkkv9nc1holv5q1i4dfqcasd7ahl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257484577170-pa0kkkv9nc1holv5q1i4dfqcasd7ahl5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvaqVVKFIK1ShV96mLsTrLaDTQ1XbPPv4</string>
	<key>GCM_SENDER_ID</key>
	<string>257484577170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Helix.CarTrack</string>
	<key>PROJECT_ID</key>
	<string>car-track-2f148</string>
	<key>STORAGE_BUCKET</key>
	<string>car-track-2f148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257484577170:ios:a03af73ee441eedc82894b</string>
</dict>
</plist>